**/data
**/frames
*.csv
.ipynb_checkpoints
**/AnimalFaces32x32
**/MNIST
**/EMNIST
**/FashionMNIST
**/student/images
**/student/twain.txt
*.pt
**/afhq*
**/faces
**/small_pokemon_dataset
**/imagenette2-320
**dog.jpg
**/.data
**/.vector_cache
**/cc.en.100.bin
**/model_w2d3_t1.pkl
